---
import Footer from "./Footer.astro";
import Header from "./Header.astro";
import FeaturedSection from "./FeaturedSection.astro";
import NewsSection from "./NewsSection.astro";
// import OffersSection from "./OffersSection.astro";
import { getFeaturedListing, getNewsListing } from "../data/content";
import type { PageContent, PageKey } from "../data/pages";
import BaseLayout from "../layouts/BaseLayout.astro";

interface Props {
  page: PageContent;
}

const { page } = Astro.props;
const isOffersPage = page.slug === "/ofertas";
const scope = page.slug.slice(1) as PageKey;
const featuredContent = !isOffersPage ? await getFeaturedListing(scope) : null;
// const offersContent = await getOffersListing(scope);
const newsContent = !isOffersPage ? await getNewsListing(scope) : null;
---

<BaseLayout title={`Zexy | ${page.title}`}>
  <Header />

  <main class="site-main site-container">
    {
      !isOffersPage && (
        <>
          <FeaturedSection items={featuredContent!.items} label={featuredContent!.title} />
          <NewsSection title={newsContent!.title} items={newsContent!.items} ariaLabel={newsContent!.title} />
        </>
      )
    }
    {/* <OffersSection
      title={offersContent.title}
      categories={offersContent.categories}
      items={offersContent.items}
      sectionId={page.slug.slice(1)}
    /> */}
  </main>

  <Footer />
</BaseLayout>
